<div class="br-mainpanel">
    <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
        <h4 class="tx-gray-800 mg-b-5">RESUMEN DE POZOS</h4>
    </div>

    <div class="br-pagebody pd-x-20 pd-sm-x-30">
        <div class="card">
            <div class="card-header">
                <p-selectButton [options]="types" [(ngModel)]="selectedType"></p-selectButton>
            </div>
            <div class="card-body">
                <div *ngIf="selectedType == 'General Semanal' && equipoTera && cesar && milton && paco">
                    <p-chart type="bar" [data]="data"></p-chart>
                </div>
                <div *ngIf="selectedType == 'Acumulado Mensual' && dataMensual">
                    <p-chart type="bar" [data]="dataMensual" [options]="optionsMensual"></p-chart>
                </div>
                <div *ngIf="selectedType == 'Cesar'">
                    <app-por-relevador [selectedRelevador]='selectedType'></app-por-relevador>
                </div>
                <div *ngIf="selectedType == 'Jose'">
                    <app-por-relevador [selectedRelevador]='selectedType'></app-por-relevador>
                </div>
                <div *ngIf="selectedType == 'Antonio'">
                    <app-por-relevador [selectedRelevador]='selectedType'></app-por-relevador>
                </div>
                <div *ngIf="selectedType == 'Milton'">
                    <app-por-relevador [selectedRelevador]='selectedType'></app-por-relevador>
                </div>
                <div *ngIf="selectedType == 'EQUIPO'">
                    <app-por-relevador [selectedRelevador]='selectedType'></app-por-relevador>
                </div>
            </div>
        </div>
    </div>
</div>