<!-- ########## START: LEFT PANEL ########## -->
<div class="br-logo"><a href=""><span>[</span>RELEV POZOS<span>]</span></a></div>
<div class="br-sideleft overflow-y-auto">
    <label class="sidebar-label pd-x-15 mg-t-20">Menu</label>
    <div class="br-sideleft-menu">


        <a routerLink="/inicio" [routerLinkActive]="['router-link-active']" class="br-menu-link">
            <div class="br-menu-item">
                <i class="fas fa-home fa-fw"></i>
                <span class="menu-item-label">Inicio</span>
            </div>
        </a>

        <a [routerLink]="['/pozos']" [routerLinkActive]="['router-link-active']" class="br-menu-link">
            <div class="br-menu-item">
                <i class="fas fa-tint"></i>
                <span class="menu-item-label">Pozos</span>
            </div>
        </a>

        <a [routerLink]="['/rendimiento']" [routerLinkActive]="['router-link-active']" class="br-menu-link">
            <div class="br-menu-item">
                <i class="fas fa-chart-bar"></i>
                <span class="menu-item-label">Rendimiento</span>
            </div>
        </a>

        <a [routerLink]="['/relevadores']" [routerLinkActive]="['router-link-active']" class="br-menu-link">
            <div class="br-menu-item">
                <i class="fas fa-truck-pickup"></i>
                <span class="menu-item-label">Relevadores</span>
            </div>
        </a>


        <a [routerLink]="['/areas']" [routerLinkActive]="['router-link-active']" class="br-menu-link">
            <div class="br-menu-item">
                <i class="fas fa-map-marked-alt"></i>
                <span class="menu-item-label">Areas</span>
            </div>
        </a>

        <a [routerLink]="['/usuarios']" [routerLinkActive]="['router-link-active']" class="br-menu-link">
            <div class="br-menu-item">
                <i class="fas fa-users"></i>
                <span class="menu-item-label">Usuarios</span>
            </div>
        </a>
    </div><!-- br-sideleft-menu -->
    <br>
</div><!-- br-sideleft -->
<!-- ########## END: LEFT PANEL ########## -->